<h1><%= @gallery.name %></h1>

<% if @gallery.user == current_user %>
  <div>
    <%= link_to "Edit", edit_gallery_path(@gallery) %>

    <%= link_to "Delete", @gallery, method: :delete %> <!-- polymorphic_path implicitly changes object @gallery to the path gallery_path -->

    <%= link_to "New Image", new_gallery_image_path(@gallery) %>
  </div>
<% end %>

<% if signed_in? %>

  <div id="like_button_form">
    <%= render "like_button_form", gallery: @gallery %>
  </div>

<% end %>

<%= render @images %>