<%= form_for(@image) do |form| %>

<%= render "form_errors", target: @image %>

<div>
  <%= form.label "Name" %>
  <%= form.text_field :name %>
</div>
<div>
  <%= form.label "URL" %>
  <%= form.text_field :url %>
</div>
<div>
  <%= form.label "Description" %>
  <%= form.text_field :description %>
</div>
<div class="field">
  <%= form.label :tag_list, "Tags (separated by commas)" %><br />
  <%= form.text_field :tag_list %>
</div>
<div>
  <%= form.collection_check_boxes :group_ids, @groups, :id, :name %> 

</div>
  <%= form.submit "Update Image" %>

<% end %>